@use './design-tokens/theme-global.css';
@use "./design-tokens/arcai-theme.scss";
@use "./design-tokens/arcai-layout.scss";
@use "./design-tokens/message-bubble.scss";
@use "./design-tokens/insight-card.scss";


// @tailwind base;
// @tailwind components;
// @tailwind utilities;

/* You can add custom global styles below */

#root{
    font-family: var(--font-family-base);
    font-smooth: auto;
}