.badge {
  display: inline-flex;
  align-items: center;
  padding: 0.5rem 1rem;
  font-size: 0.875rem;
  font-weight: 600;
  border-radius: 9999px;
  transition: all 0.4s ease;
  transform: translateY(0);
  opacity: 1;
  margin-bottom: 1rem;

  &--hidden {
    opacity: 0;
    transform: translateY(1rem);
  }

  &--visible {
    opacity: 1;
    transform: translateY(0);
  }

  &--success {
    background-color: var(--color-feedback-positive-100);
    color: var(--color-feedback-positive-600);
  }

  &--info {
    background-color: var(--color-feedback-info-100);
    color: var(--color-feedback-info-600);
  }

  &--warning {
    background-color: var(--color-feedback-warning-100);
    color: var(--color-feedback-warning-600);
  }

  &--neutral {
    background-color: var(--color-white);
    color: var(--color-neutral-600);
  }

  svg {
    margin-right: 0.5rem;
    width: 1rem;
    height: 1rem;
  }
}
