.fixed-width-wrap {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: 0 1rem;

  // @media (min-width: 640px) {
  //   max-width: 620px;
  // }

  // @media (min-width: 768px) {
  //   max-width: 748px;
  // }

  // @media (min-width: 1024px) {
  //   max-width: 1004px;
  // }

  // @media (min-width: 1280px) {
  //   max-width: 1260px;
  // }

  // @media (min-width: 1366px) {
  //   max-width: 1346px;
  // }

  // @media (min-width: 1440px) {
  //   max-width: 1420px;
  // }

  // @media (min-width: 1536px) {
  //   max-width: 1516px;
  // }
}
