* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
*:focus {
  outline: none;
  background-color: none !important;
}
html,
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  height: 100%;
  line-height: normal;
}
#root {
  height: 100%;
}
