.header {
  width: 100%;
  padding: 0;
  border-bottom: 1px solid var(--color-brand-400);
  color: var(--color-brand-650);
  background-color: var(--color-white);
  box-shadow: 0 4px 12px rgba(99, 102, 241, 0.2); /* brand-500 tint */


  &-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 80px;
  }

  &-left {
    display: flex;
    align-items: center;
    gap: 0.25rem;

    .logo-wrap {
      display: flex;
      align-items: center;
      width: 40px;
      height: 40px;
      padding-right: 0.5rem;
      // border-right: 1px solid var(--color-brand-600);
      position: relative;

      svg {
        fill: var(--color-brand-300);
      }
      .ping-circle {
        position: absolute;
        border-radius: 50%;
        animation: ping 1.2s infinite ease-out;
        transform-origin: center;
      }
      .ping-brand {
        top: -6px;
        right: 2px;
        width: 12px;
        height: 12px;
        background-color: var(--color-brand-600);
        box-shadow: 0 0 6px var(--color-brand-400) 50;
        animation-delay: 0s;
      }

      .ping-contrast {
        bottom: -4px;
        left: -10px;
        width: 10px;
        height: 10px;
        background-color: var(--color-brand-contrast-600);
        box-shadow: 0 0 6px var(--color-brand-contrast-400) 50;
        animation-delay: 0.15s;
      }
    }

    .app-name {
      font-size: 1.5rem;
      font-weight: bold;
      white-space: nowrap;
    }
  }

  &-center {
    display: flex;
    align-items: center;
    margin-left: auto; 
    justify-content: flex-end;
    margin-right: 5rem;

    .nav {
      display: flex;
      align-items: center;

      a {
        position: relative;
        display: flex;
        align-items: center;
        text-decoration: none;
        font-size: 0.95rem;
        font-weight: 500;
        color: var(--color-brand-450);
        padding: 0 0.5rem;
        transition: color 0.2s ease-in-out;

        svg {
          margin: 0 0.25rem;
        }

        &:hover,
        &.active {
          color: var(--color-brand-600);
          svg {
            margin: 0 0.25rem;
          }
        }

        &::after {
          content: '';
          position: absolute;
          bottom: -8px;
          left: 0;
          height: 2px;
          width: 0%;
          background: linear-gradient(
            90deg,
            var(--color-brand-400),
            var(--color-brand-500),
            var(--color-brand-600),
            var(--color-brand-500),
            var(--color-brand-400)
          );
          transition: width 0.5s ease-in-out;
        }

        &:hover::after,
        &.active::after {
          width: 100%;
        }
      }
    }

    .user-profile-wrap {
      position: relative;
      .user-icon {
        background: none;
        display: flex;
        padding: 0.2rem;
        cursor: pointer;
        border: none;
        color: var(--color-brand-300);
      }

      .dropdown-menu {
        font-size: 14px;
        width: 14rem;
        position: absolute;
        top: 100%;
        right: 0;
        background: var(--color-brand-light);
        border-radius: 6px;
        list-style: none;
        padding: 0;
        margin: 0;
        box-shadow: var(--color-box-shadow);
        z-index: 2;
        li {
          padding: 0.5rem 0.75rem;
        }
      }
    }
  }

  &-right {
    display: flex;
    align-items: center;

    .nav {
      display: flex;
      gap: 1rem;
      margin-right: 1rem;
      align-items: center;

      a {
        display: flex;
        align-items: center;
        text-decoration: none;
        font-size: 0.8rem;
        font-weight: 500;
        color: var(--color-brand-200);
        transition: color 0.2s ease-in-out;

        svg {
          margin: 0 0.25rem;
        }

        &:hover,
        &.active {
          color: var(--color-brand-500);
          svg {
            margin: 0 0.25rem;
          }
        }
      }
    }

    .user-profile-wrap {
      position: relative;
      .user-icon {
        background: none;
        display: flex;
        padding: 0.2rem;
        cursor: pointer;
        border: none;
        color: var(--color-brand-300);
      }

      .dropdown-menu {
        font-size: 14px;
        width: 14rem;
        position: absolute;
        top: 100%;
        right: 0;
        background: var(--color-brand-light);
        border-radius: 6px;
        list-style: none;
        padding: 0;
        margin: 0;
        box-shadow: var(--color-box-shadow);
        z-index: 2;
        li {
          padding: 0.5rem 0.75rem;
        }
      }
    }
  }
}

@keyframes ping {
  0% {
    transform: scale(0.6);
    opacity: 0.85;
  }
  50% {
    transform: scale(1.1);
    opacity: 0.6;
  }
  100% {
    transform: scale(1.4);
    opacity: 0;
  }
}
